{% block content %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>MOREBuy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href=" {% static 'usersignup/css/style.css'%}">

</head>

<body style="background-color: rgb(191, 173, 173);">
	<section style="padding-top:25px ;" class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center ">
					<a href="{% url 'home' %}" style="text-decoration: none;color: black;">
						<h2 class="heading-section">More Buy</h2>
					</a>
				</div>
			</div>

			<div class="row justify-content-center">

				<div class="col-md-7 col-lg-5">

					<div class="login-wrap p-4 p-md-5">

						<h3 class="text-center mb-4">Create Your Account</h3>
						<form action="#" class="signup-form" method="post">
							{% csrf_token %}
							<div class="form-group mb-3">
								<label class="label" for="name">Full Name</label>
								<input type="text" class="form-control" placeholder="Name" name="fullname" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="email">Email Address</label>
								<input type="email" class="form-control" placeholder="Email" name="email" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="email">Phone Number</label>
								<input type="text" class="form-control" placeholder="Number" name="phoneno" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Password</label>
								<input id="password-field" type="password" class="form-control" placeholder="Password"
									name="password1" required>
								<span toggle="#password-field"
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Re type Password</label>
								<input id="password-field" type="password" class="form-control" placeholder="Password"
									name="password2" required>
								<span toggle="#password-field"
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
							</div>
							<p>Have an account<a data-toggle="tab" href="{% url 'userlogin' %}">Log In</a></p>

						</form>
						<!-- <p>I'm already a member! <a data-toggle="tab" href="#signin">Sign In</a></p> -->
						<div>
							{% for message in messages %}
							<h3> {{ message }}</h3>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <script src="{% static 'usersignup/js/jquery.min.js'%}"></script>
	<script src="{% static 'usersignup/js/popper.js'%}"></script>
	<script src="{% static 'usersignup/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'usersignup/js/main.js'%}"></script> -->

</body>

</html>


{% endblock content %}